<router-outlet> </router-outlet>
<p>
  conteudo works!
</p>
<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">


  <div class="row">
    <div class="col-lg-4">

      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{asset('imagem/museu.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Visitas Guiadas</h4>
          <p class="card-text">Todos os Pedidos Relacionados a <strong>Visita ao Museu Nacional da Moeda</strong></p>
          <a href="/pedido/visitag" class="btn btn-success">Carregar Pedidos </a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">

      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="{{asset('imagem/fortaleza.jpg')}}" alt="Card image cap">
        <div class="card-body">
          <h4 class="card-title">Renda Do Patio</h4>
          <p class="card-text">Todos os Pedidos Relacionados a Renda Do Patio</p>
          <a href="/pedido/patio" class="btn btn-primary">Carregar Pedidos</a>
        </div>
      </div>
    </div>

  </div>



</main>